/* GENERAL */

img {
    max-width: 100%;
}

/* Style */

.logo_img {
    width: 100px;
}

.play_btn {
    padding: 5px 25px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#grid_container {
    display: flex;
    flex-wrap: wrap;
}

.grid_container_cells {
    width: calc(1000px / 10);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem ;
    font-weight: bolder;
    background-color:#E098E0;
    border: 1px solid aqua;
}

.cells_clicked {
    background-color: aqua;
    transition: ease-in-out;
}